.story-image-slideshow{
  max-width: 1000px;
  position: relative;
  margin: auto;

  .story-nextImage, .story-prevImage {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .story-nextImage{
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .story-prevImage:hover, .story-nextImage:hover{
    background-color: rgba(0,0,0,0.5);
  }
  .fade {
    animation-name: fade;
    animation-duration: 3s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .story-image{
    display: none;
    img {
      max-width: 100%;
      height: auto;
    }
    .story-image-caption{
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 40px;
      width: 100%;
      text-align: center;
    }
    .story-slideNumber{
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
  }
  .story-image-controllers {
    text-align: center;
    bottom: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    .story-image-controller-dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active-controller, .story-image-controller-dot:hover {
      background-color: #717171;
    }
  }
}
