.story-audio-slideshow{
  position: relative;
  margin: auto;

  .story-audio-slideshow-container {
    .story-audio-slideshow-caption {
      text-align: center;
      font-style: italic;
      margin: 10px 0 10px 0;
    }

  }

  .story-audio-controllers {
    text-align: center;
    margin-top: 10px;
    .story-audio-controller {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active-audio-controller, .story-audio-controller:hover {
      background-color: #717171;
    }
  }
}
.story-audio-player {
  width: 100%;
  height: auto;
}
