@import "vendors/normalize.css";
@import "variables";

/* storytellr general styling */
html, body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  color: $text-color;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

h1 {
  color: $primary-color;
}

h2,h3,h4,h5,h6 {
  color: $secondary-color;
}

a {
  color: $accent-color;
}

.story-text-h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

.story-text-h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.story-text-h3 {
  font-size: 1.4rem;
  font-weight: 500;
}

.story-text-h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.story-text {
  font-size: 1rem;
  font-weight: 400;
}

.story-header {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.story-header-video {
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.story-header-video-text {
  position: absolute;
  color: #f1f1f1;
}

.story-container {
  padding: 0 25vw 0 25vw;
  background-color: #bbbbbb;
}

.story-section {
  padding: 20px;
  background-color: #eeeeee;
}

.story-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media screen and (max-width: $bp-large) {
  .story-container {
    padding: 0 20vw 0 20vw;
  }
}
@media screen and (max-width: $bp-medium) {
  .story-container {
    padding: 0 15vw 0 15vw;
  }
}
@media screen and (max-width: $bp-small) {
  .story-container {
    padding: 0 10vw 0 10vw;
  }
}
@media screen and (max-width: $bp-xsmall) {
  .story-container {
    padding: 0 5vw 0 5vw;
  }
}






