@import "vendors/normalize.css";
@import "variables";

/* storytellr general styling */
html, body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  color: $text-color;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

a {
  color: $text-color;
}

.story-text-h1 {
  font-size: 2.2rem;
  font-weight: 600;
  color: $primary-color;
}

.story-text-h2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: $secondary-color;
}

.story-text-h3 {
  font-size: 1.4rem;
  font-weight: 500;
  color: $secondary-color;
}

.story-text-h4 {
  font-size: 1.2rem;
  font-weight: 400;
  color: $secondary-color;
}

.story-text {
  font-size: 1rem;
  font-weight: 400;
  color: $text-color;
  line-height: 1.5rem;
}

.story-hr {
  color: #5353581f;
}

.story-header {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.story-header-video {
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.story-header-video-text {
  position: absolute;
  color: #f1f1f1;
}

.story-container {
  padding: 5vw 25vw 5vw 25vw;
}

.story-section {
  padding: 0 20px 10px 20px;
  background-color: #f7f7f775
}

.story-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.story-audio-caption {
  text-align: center;
  font-style: italic;
  margin-top: 5px;
}

.story-media-image {
  position: relative;
  padding-bottom: 66.66%; //56.25%
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.story-media-image-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media screen and (max-width: $bp-large) {
  .story-container {
    padding: 5vw 20vw 5vw 20vw;
  }
}
@media screen and (max-width: $bp-medium) {
  .story-container {
    padding: 5vw 15vw 5vw 15vw;
  }
}
@media screen and (max-width: $bp-small) {
  .story-container {
    padding: 3vw 10vw 3vw 10vw;
  }
}
@media screen and (max-width: $bp-xsmall) {
  .story-container {
    padding: 2vw 5vw 2vw 5vw;
  }
}






