/* Variables */
$bp-xsmall: 575.98px;
$bp-small: 767.98px;
$bp-medium: 991.98px;
$bp-large: 1199.98px;

$primary-color: #ff7334;
$secondary-color: #0b7fab;
$accent-color: #F54748;
$text-color: #535358;
